<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>

<style>
    .info{
        text-align: center;
        color: greenyellow;
        background: #404040;
        font-size: 15px;

    }

</style>

<body style="text-align: center">
    <div class="info">
        <p>Hi, you have joined the SSChat.</p>
        <p>Here you can join any room you want, just add to the link a name you prefer.</p>
        <p>For example, .onion/chat/*^secret_room/</p>
        <br>
        <p>What you can do here? First of all, this site doesnt collect ANY data about you. You dont have to add date and time of you message so nobody will know at what time you are usually chatting. </p >
        <p>Second thing, rooms, want to use some strange unicode symbols? Go ahead ===>>│ч~┐│⌂╡ want to make room name couple of thousands chars long? Not a problem, nobody will ever find this room :)</p>
        <p>And third thing is possibility to delete your messages, when you are clicking on the message text you are actually deleting this cell from database. I think that's it, now you know everything about SSChat by TUHNN </p>
        <br>
        <p>Rules: there is no rules.</p>

    </div>
    <input id="room-name-input" type="text" size="100" style="width: 99%"><br>
    <input id="room-name-submit" type="button" value="Enter" style="width: 99%">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>