<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <title>Chat Room</title>
      <style>
        .msg_p{
            margin: 6px;
        }
        .Row {
    	    background-color: rgb(99, 99, 99);
            display: table;
            clear: both;
    	    width: 100%;
    	    border-spacing: 10px;
		}
		#term{
			color: green;
			background-color: black;
			margin: 5px;
			max-height: 500px;
		}
		#text1{
			height: 400px;
			width: 100%;
			background-color: rgb(0, 0, 0);
			color: greenyellow;

		}
        .Column {
            float: left;
            width: 50%;
            background-color: rgb(99, 99, 99);
        }
        .msg_p:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="Row" style="">
    <div class = "Column" style="width: 70%">
        <div class='messages_div' id = "messagesdff" style='background: black; color:greenyellow; width: 100%'>
            {% for i in messages %}
                <p class="msg_p">{{i}}</p>

            {%endfor%}
        </div>

    </div>
    <div class ="Column" style="width: 20%; margin-left: 5px; float: left">
        <div class='messages_div' id = "messagesdff_1" style='background: black; color:greenyellow;'>
            {% for i in times %}
                <p class="msg_p">{{ i }}</p>
            {%endfor%}
        </div>
    </div>


</div>

    <br>
    <div class="Column" style="margin:auto; width:50%; text-align:  center; float: none;">
        <textarea id="chat-message-input_user" type="text" name="desc" style="" rows="2" cols="50" ></textarea><br>
        <input id="chat-message-submit_user" type="button" value="Send message.">
        <p>Add date and time to mesage?</p><input id="datchk" type="checkbox" checked="checked">
    </div>






    {{ room_name|json_script:"room-name" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
         const roomName = JSON.parse(document.getElementById('room-name').textContent);

        let getmess_name = "/chat" + "/" + roomName + "/get/"
        let postmess_name = "/chat" + "/" + roomName + "/post/"
        let delmess_name = "/chat" + "/" + roomName + "/delete/"


        function del_msg(seed) {
        console.log(seed)
            var data = {"seed": seed}

            $.ajax({url: delmess_name, type: 'POST', data: data}).done(function(response) {})
        }

        $(document).ready(function() {

        document.getElementById('chat-message-submit_user').onclick = function () {

            const messageInputDom = document.querySelector('#chat-message-input_user');

            var today = new Date();

            var array_of_lines = messageInputDom.value.split(/\r?\n/);

            for (var i in array_of_lines) {
                var data = {"text": array_of_lines[i]}
                if (document.getElementById("datchk").checked == true) {
                    data["time"] = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    data["yr"] = today.getFullYear() + '-' + (today.getMonth()) + '-' + today.getDate();
                } else {
                    data["time"] = "01:01:01";
                    data["yr"] = "0001-01-01";

                }

                $.ajax({url: postmess_name, type: 'POST', data: data,})
            }
            messageInputDom.value = '';
        }

        setInterval(function () {

            $.ajax({url: getmess_name, type: 'GET', dataType: 'json',}).done(function (response) {

                var mgsss = document.getElementById("messagesdff");
                mgsss.innerHTML = "";

                for (var i in response) {
                    if (response[i][0] != "") {
                        var pe = document.createElement("p");
                        var textnode = document.createTextNode(response[i][0]);

                        pe.appendChild(textnode)
                        pe.className = "msg_p";
                        pe.setAttribute("seed", response[i][3])
                        pe.setAttribute("onclick", "del_msg(this.getAttribute('seed'))");//

                        mgsss.appendChild(pe)

                    }
                }

                var mgsss1 = document.getElementById("messagesdff_1");
                mgsss1.innerHTML = "";

                for (var i in response) {
                    if (response[i][0].replace(/\s/g, '').length) {
                        let pe = document.createElement("p");
                        var textnode = document.createTextNode(response[i][1] + "//" + response[i][2]);
                        pe.appendChild(textnode);

                        pe.className = "msg_p";

                        mgsss1.appendChild(pe)
                    }
                }


            })
        }, 1000)
    })

    </script>
</body>
</html>